
/**********************************Css Reset***********************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***********************************End of Css Reset**********************************/


/*************************************** Base ****************************************/

body{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #f9f9f9;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #000;
}

/********************************** End Of Base Rule *********************************/

/************************************** Layout ***************************************/
.main{}
.main .image-grid{
    list-style: none;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    width: 100%;
}
.main .image-grid li{
    display: inline-block;
    height: 200px;
    vertical-align: top;
    margin: 10px 5px 0 5px;

}

/********************************* End of Layout Rule ********************************/

/************************************** Module ***************************************/

.image-grid li a img{
    display: block;
    position: relative;
    border: 1px solid #bebebe;
    background-color: #fff;
}
.image-grid li .expand-container{
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 480px;
    margin-top: 10px;
    text-align: left;
    overflow: hidden;
}
.image-grid li .expand-container .image-arrow{
    background-image: url("../images/arrow.png");
    height: 20px;
    width: 46px;
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
    top: -2px;
}
.image-grid li .expand-container .inner-container{
    height: 100%;
    padding: 22px 20px;
    margin: 18px;
    background: #939598;
}
.image-grid li .expand-container .inner-container .expanded-img,
.image-grid li .expand-container .inner-container .img-details{
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 8px;
}
.image-grid li .expand-container .inner-container .expanded-img{
    width: 50%;
}
.image-grid li .expand-container .inner-container .img-details{
    width: 45%;
    margin-left: 35px;
}
.image-grid li .expand-container .inner-container .expanded-img img{
    height: 400px;
    margin-left: 20px;
    border: 1px solid rgb(136, 127, 127);
    box-shadow: 0 0px 8px 2px rgb(90, 90, 90);
}
.image-grid li .expand-container .inner-container .img-details .title{
    text-decoration: none;
}
.image-grid li .expand-container .inner-container .img-details .title h3{
    font-family: 'Wellfleet', cursive;
    font-size: 50px;
    font-weight: bold;
    padding: 40px 0 10px 0;
    color: rgb(77, 77, 77);
    text-shadow: 2px 3px 0px rgba(66, 66, 66, 0.4);
}
.image-grid li .expand-container .inner-container .img-details .date{
    color: rgb(226, 226, 226);
    font-size: 15px;
    margin-left: 3px;
}
.image-grid li .expand-container .inner-container .img-details p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: rgb(32, 30, 30);
    margin-top: 25px;
}
.image-grid li .expand-container .inner-container .img-details .tag,
.image-grid li .expand-container .inner-container .img-details .views{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid rgb(61, 61, 61);
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
}
.image-grid li .expand-container .inner-container .img-details .views{
    margin-left: 270px;
}
.image-grid li .expand-container .inner-container .img-details .tag::before,
.image-grid li .expand-container .inner-container .img-details .views::before{
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
}
.image-grid li .expand-container .inner-container .img-details .tag:hover,
.image-grid li .expand-container .inner-container .img-details .views:hover{
    border-color: #000;
    color: #000;
}

/********************************* End of Module Rule ********************************/
