<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
    <div class="expand-container">
        <div class="image-arrow"></div>
        <div class="inner-container">
            <div class="expanded-img">
                <img src="<%= src %>"/>
            </div>
            <div class="img-details">
                <h3>Bear Face</h3>
                <p>Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.</p>
                <a href="http://google.com">Visit the Website</a>
            </div>
        </div>
    </div>
